.footer{
	clear: both;
	&__cop{
		color: black;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		text-transform: uppercase;
		text-align: center;
	}
}

.hashtag{
	color: black;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
}

@media (min-width: 768px){
	.footer{
		max-width: 648px;
    	margin: 0 auto;
		&__cop{
			float: right;
		}
	}
	.hashtag{
		float: left;
	}
}