.form {
    display: flex;
    flex-direction: column;
    margin-top: -14px;
    margin-bottom: 14px;
    &__title {
        color: black;
        font-size: 18px;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 23px;
    }
    label {
        display: flex;
        margin-bottom: 12px;
        color: #333;
        font-family: PTSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        align-items: center;
        overflow: hidden;
    }
    &__name {
        margin-left: 20px;
        flex-grow: 1;
        height: 58px;
        background-color: #f2f2f2;
        border: none;
        padding: 0 0px 0 20px;
        color: black;
        font-size: 18px;
        line-height: 26px;
        outline: none;
        font-family: "PTSans-bold", Arial, sans-serif;
        border: 4px solid #fff;
    }
    &__submit {
        color: white;
        font-size: 21px;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 26px;
        text-transform: uppercase;
        border: none;
        -webkit-order: 6;
        -moz-order: 6;
        -ms-order: 6;
        -o-order: 6;
        order: 6;
        margin-top: 25px;
    }
    &__block {
        border-top: 1px solid #e5e5e5;
        margin-top: -1px;
        padding: 20px 20px 8px;
        display: flex;
        flex-direction: column;
        order: 1;
    }
    textarea {
        height: 120px;
        background-color: #f2f2f2;
        resize: none;
        padding: 20px;
        flex-grow: 1;
        border: none;
        margin-top: -6px;
        font-family: "PTSans-bold", Arial, sans-serif;
        color: black;
        line-height: 26px;
        outline: none;
        border: 4px solid #fff;
        margin-top: -11px;
    }
    &__error {
        color: #ff5c5c;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 12px;
        padding-left: 21px;
    }
    &__obligatory {
        display: none;
    }
}

.form__block_textarea {
    -webkit-order: 5;
    -moz-order: 5;
    -ms-order: 5;
    -o-order: 5;
    order: 5;
    margin-top: 4px;
}

.form__block_radio {
    order: 3;
    margin-top: 23px;
    margin-bottom: -2px;
}

.form__block_checkbox {
    -webkit-order: 4;
    -moz-order: 4;
    -ms-order: 4;
    -o-order: 4;
    order: 4;
    margin-top: 10px;
    margin-bottom: -10px;
    .form__title {
        line-height: 24px;
    }
}

.form__block_submit {
    -webkit-order: 6;
    -moz-order: 6;
    -ms-order: 6;
    -o-order: 6;
    order: 6;
    border-top: none;
}

.form__block_information {
    order: 2;
    padding-bottom: 0px;
    input {
        padding: 0;
        height: 58px;
        background-color: #f2f2f2;
        padding-right: 58px;
        flex-grow: 1;
        border: none;
        padding-left: 20px;
        color: black;
        font-size: 18px;
        font-family: "PTSans-bold", Arial, sans-serif;
        outline: none;
        border: 4px solid #fff;
    }
    .form__tel,
    .form__mail {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.form__tel,
.form__mail {
    &::after {
        content: '';
        width: 58px;
        display: block;
        position: absolute;
        height: 58px;
        bottom: 4px;
        right: 4px;
        background-color: #e6e6e6;
    }
    label {
        margin-bottom: 5px;
        padding-left: 22px;
    }
}

.form__tel {
    &::before {
        content: '';
        background: url(../img/icon-phone.svg);
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 24px;
        right: 18px;
        z-index: 2;
    }
}

.form__mail {
    &::before {
        content: '';
        background: url(../img/icon-mail.svg);
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 28px;
        right: 22px;
        z-index: 2;
    }
}

.form__block_radio,
.form__block_checkbox {
    label {
        color: black;
        font-size: 18px;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 26px;
        text-transform: capitalize;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 50px;
    }
    input {
        display: none;
    }
}

.form__radio,
.form__checkbox {
    position: relative;
    padding-left: 78px;
}

.form__radio label {
    line-height: 57px;
    &::after {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        background-color: #f2f2f2;
        border-radius: 50%;
        left: 0;
    }
}

.form__radio input:checked + label:before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: #333;
    position: absolute;
    border-radius: 50%;
    left: 17px;
    z-index: 2;
    top: 17px;
}

.form__checkbox label {
    line-height: 49px;
    margin-bottom: 30px;
    &::after {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        background-color: #f2f2f2;
        border-radius: 5px;
        left: 0;
    }
}

.form__checkbox input:checked + label:before {
    content: '';
    width: 24px;
    height: 16px;
    background-color: #333;
    position: absolute;
    left: 17px;
    z-index: 2;
    top: 17px;
    background: url(../img/icon-tick.svg);
}

.form__name {
    &:hover {
        background-color: #e5e5e5;
    }
    &:focus {
        background-color: white;
        border: 4px solid #e5e5e5;
    }
}

.form__block_information input {
    &:hover {
        background-color: #e5e5e5;
    }
    &:focus {
        background-color: white;
        border: 4px solid #e5e5e5;
    }
}

.form__radio label:hover {
    &::after {
        background-color: #e5e5e5;
    }
}

.form__radio label:active {
    &::after {
        background-color: #d5d5d5;
    }
}

.form__radio input:checked + label:active {
    &::before {
        background-color: rgba(51, 51, 51, 0.3);
    }
}

.form__checkbox label:hover {
    &::after {
        background-color: #e5e5e5;
    }
}

.form__checkbox label:active {
    &::after {
        background-color: #d5d5d5;
    }
}

.form__checkbox input:checked + label:active {
    &::before {
        opacity: 0.3;
    }
}

.form textarea {
    &:hover {
        background-color: #e5e5e5;
    }
    &:focus {
        background-color: white;
        border: 4px solid #e5e5e5;
    }
}

@media (min-width: 768px) {
    .form {
        max-width: 960px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 26px 60px 56px;
        &__title {
            font-size: 21px;
            margin-bottom: 60px;
            text-align: left;
        }
        &__submit {
            width: 325px;
            padding: 0 60px;
            margin: 55px 0 0;
        }
        &__error {
            justify-content: flex-end;
            display: flex;
            width: 100%;
            position: relative;
            top: 37px;
        }
        &__obligatory {
            color: #333;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            display: block;
            position: relative;
            top: 29px;
        }
        &__mobile {
            display: none;
        }
    }
    .form__block {
        width: 270px;
        padding: 0;
        border: none;
        &_submit {
            order: 6;
            width: 100%;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }
    }
    .form__block_information {
        width: 100%;
        padding: 0px;
        margin-top: 54px;
        border-top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        .form__title {
            flex-grow: 1;
            width: 100%;
            text-align: center;
            margin-bottom: -10px;
        }
    }
    .form__block_checkbox {
        width: 100%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        padding: 0 56px;
        .form__title {
            flex-grow: 1;
            width: 100%;
            text-align: center;
            padding: 0 130px;
            margin-bottom: 42px;
        }
    }
    .form__checkbox {
        width: 25%;
    }
    .form__block_radio {
        order: 1;
        margin-top: 0;
        width: 324px;
        border-right: 1px solid #dbdbdb;
    }
    .form__block_textarea {
        display: flex;
        flex-grow: 1;
        width: 100%;
        padding: 0;
        margin-top: 48px;
        .form__title {
            text-align: center;
            margin-bottom: 67px;
        }
    }
    .form__block_information .form__mail,
    .form__block_information .form__tel {
        width: 100%;
        order: 1;
    }
    .page_form .page__description {
        margin-top: 30px;
    }
    .form__radio label {
        line-height: 60px;
        margin-bottom: 18px;
    }
    .form__block_information .form__mail {
        margin-top: 16px;
    }
    .form__checkbox label {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .form {
        padding: 0 120px 71px;
        &__block {
            padding-top: 10px;
            width: 400px;
        }
        &__desctop {
            display: none;
        }
    }
    .form__submit {
        width: 480px;
    }
    .form__checkbox {
        width: 13%;
        margin-left: 0;
    }
    .form__block_information {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 44px;
        width: 100%;
        align-items: flex-end;
        .form__title {
            flex-grow: 1;
            width: 100%;
            margin-bottom: 7px;
        }
    }
    .form__block_information .form__tel,
    .form__block_information .form__mail {
        width: 50%;
        order: 1;
        display: flex;
        flex-direction: row;
    }
    .form__error {
        display: flex;
        flex-grow: 1;
        order: 0;
        justify-content: flex-start;
        margin-bottom: 25px;
        padding-left: 106px;
    }
    .form__block_checkbox {
        margin-top: 39px;
        width: 100%;
        padding: 10px 0 0;
        justify-content: space-between;
        .form__title {
            padding: 0 283px;
            line-height: 25px;
        }
    }
    .form__block_textarea {
        padding: 25px 0px 0px;
        margin-top: 20px;
        width: 100%;
    }
    .form__block_submit {
        padding: 25px 0px 0px;
        margin-top: -24px;
        width: 100%;
    }
    .form__block_radio {
        width: 479px;
        .form__title {
            padding-left: 79px;
        }
    }
    .form__block_information .form__tel {
        width: 400px;
    }
    .form__mail label,
    .form__tel label {
        padding-left: 0;
    }
    .form__mail label {
        margin-right: 18px;
    }
}
