.header{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	&__logo{
		min-height: 53px;
		z-index: 2;
	}
	&__burger{
		background: url(../img/icon-menu.svg) no-repeat;
		width: 23px;
	    height: 22px;
	    display: block;
	    position: absolute;
	    right: 20px;
	    bottom: 50px;
	}
	&__close{
		background: url(../img/icon-cross.svg) no-repeat;
		width: 22px;
	    height: 22px;
	    display: block;
	    position: absolute;
	    right: 20px;
	    top: 17px;
	}
}

@media (min-width: 768px){
	.header{
		&__logo{
			position: absolute;
			top: 0;
			left: 40%;
			width: 20%;
			text-align: center;
		}
		&__burger{
			display: none;
		}
		&__close{
			display: none;
		}
	}
}
