.interested{
	width: 100%;
	text-align: center;
}

@media (min-width: 768px){
	.interested{
		width: 460px;
	    padding: 0;
	    margin: 0 auto;
	    margin-top: 55px;
	    .page__title{
	    	font-size: 30px;
	    }
	}
}
