.map {
    margin-bottom: 31px;
    width: 100%;
}

@media (min-width: 768px) {
    .map {
        margin-bottom: -12px;
    }
}

@media (min-width: 1200px) {
    .map {
        margin-top: 65px;
        margin-bottom: 16px;
    }
}
