.menu-top{
	background-color: #81b3d2;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
	&__item{
		height: 55px;
    	line-height: 55px;
		box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
	}
	&__link{
		color: white;
		font-size: 18px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

@media (min-width: 768px){
	.menu-top{
		min-height: 56px;
	    height: 56px;
	    text-align: left;
	    background: #fff;
	    line-height: 56px;
	    flex-direction: row;
	    justify-content: space-around;
		&__item{
			display: inline-block;
    		box-shadow: none;
    		width: 20%;
		}
		&__link{
			color: black;
			font-size: 14px;
		}
	}
	.menu-top__item{
		&:nth-child(2){
			margin-right: 20%;
		}
	}
}