.reasons {
    margin-bottom: 25px;
}

.reason {
    display: flex;
    flex-direction: column;
    &__info {
        background-color: #81b3d2;
        color: #fff;
        padding: 52px 20px 41px;
        text-align: center;
    }
    &__title {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 26px;
        margin-bottom: 8px;
    }
    &__slogan {
        line-height: 21px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
    }
    &__number {
        margin-bottom: 16px;
    }
    &__head {
        text-transform: uppercase;
        color: black;
        font-size: 18px;
        font-family: "PTSans-bold", Arial, sans-serif;
        line-height: 23px;
        margin-bottom: 12px;
        position: relative;
    }
    &__description {
        color: #333;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__img {
        width: 100%;
    }
    &_items {
        display: flex;
        flex-direction: column;
        padding: 22px 20px 39px;
    }
    &__item {
        margin-bottom: 20px;
        padding: 10px 20px 0 50px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.reason__info.reason__info_direction {
    padding-top: 38px;
}

.reason__item_hous {
    &::before {
        background: url("../img/icon-house.svg");
        width: 39px;
        height: 37px;
        background-size: cover;
        top: -2px;
    }
}

.reason__item_gift {
    margin-bottom: 19px;
    &::before {
        background: url("../img/icon-gift.svg");
        width: 32px;
        height: 38px;
        background-size: cover;
        top: -2px;
        left: 5px;
    }
}

.reason__item_food {
    &::before {
        background: url("../img/icon-burger.svg");
        width: 40px;
        height: 35px;
        background-size: cover;
        top: 4px;
        left: -2px;
    }
}

.reason_bottom .reason {
    background: #eee;
    padding: 0 25px;
    &__info {
        background: transparent;
        border-bottom: 1px solid #d6d6d6;
        padding: 23px 0px 31px;
    }
}

.reason_bottom .reason__title {
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-family: "PTSans-bold", Arial, sans-serif;
    line-height: 26px;
}

.reason_bottom .reason__slogan {
    text-transform: uppercase;
    color: black;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}

.reason_bottom .reason__number {
    color: #333;
}

@media (min-width: 768px) {
    .reasons {
        display: flex;
        flex-direction: column;
    }
    .reason {
        flex-direction: row;
        &_reverse {
            flex-direction: row-reverse;
        }
        &_items {
            margin-top: 17px;
            margin-bottom: 12px;
            padding: 34px 0px 27px;
        }
        &__info {
            width: 28%;
            padding: 45px 20px 38px;
        }
        &__photo {
            width: 67%;
        }
        &__item {
            text-align: center;
            padding: 10px 20px 0;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__head {
            margin-bottom: 22px;
            font-size: 21px;
        }
        &__title {
            font-size: 21px;
            padding: 0 32px;
        }
        &__slogan {
            padding: 0 25px;
        }
        &__number {
            margin-bottom: 23px;
        }
        &__description {
            padding: 0 25px;
        }
    }
    .reason__photo img {
        height: 251px;
    }
    .reason_bottom .reason {
        padding: 24px 28px 14px;
        display: flex;
        width: 33%;
        flex-grow: 1;
        &__info {
            width: 100%;
            border: none;
        }
        &__title {
            font-size: 21px;
        }
    }
    .reason__info_direction {}
    .reason__item {
        &::before {
            position: relative;
            margin: 0 auto 24px;
        }
    }
    .reason__item_hous {
        -webkit-order: 1;
        -moz-order: 1;
        -ms-order: 1;
        -o-order: 1;
        order: 1;
        &::before {
            width: 75px;
            height: 75px;
            left: -1px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .reason__item_gift {
        -webkit-order: 3;
        -moz-order: 3;
        -ms-order: 3;
        -o-order: 3;
        order: 3;
        &::before {
            width: 63px;
            height: 75px;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0px;
        }
    }
    .reason__item_food {
        -webkit-order: 2;
        -moz-order: 2;
        -ms-order: 2;
        -o-order: 2;
        order: 2;
        &::before {
            width: 77px;
            height: 75px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .reason__info.reason__info_direction {
        padding-top: 45px;
    }
}

@media (min-width: 1200px) {
    .reason {
        &__item {
            max-width: 285px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &_items {
            margin-bottom: 35px;
        }
        &__info {
            width: 30%;
            padding: 53px 20px 38px;
        }
        &__title {
            padding: 0 104px;
        }
        &__slogan {
            padding: 0 50px;
        }
        &__description {
            padding: 0 15px;
        }
    }
    .reason_bottom {
        .reason {
            padding: 23px 96px 35px;
        }
        .reason__title {
            padding: 0 30px;
        }
        .reason__slogan {
            padding: 0;
        }
    }
    .reason__info.reason__info_direction {
        padding-top: 53px;
    }
}
