.video {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    align-items: center;
    &__img {
        height: 201px;
        position: relative;
    }
    &__range {
        height: 111px;
        width: 280px;
        margin: 0 20px;
        overflow: hidden;
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        bottom: 45px;
        background: rgba(242, 242, 242, 0.4);
        left: 0;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        width: 240px;
        height: 66px;
        background: #f2f2f2;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
    }
    &__replay {
        background: url(../img/icon-video-replay.svg);
        width: 16px;
        height: 20px;
        display: inline-block;
        order: 2;
        margin-left: 20px;
    }
    &__sub {
        background: url(../img/icon-video-subtitles.svg);
        width: 32px;
        height: 20px;
        display: inline-block;
        margin-left: auto;
        margin-right: 30px;
        order: 3;
    }
    &__full {
        background: url(../img/icon-video-fullscreen.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        order: 4;
        margin-right: 20px;
    }
}

.video__range-line {
    width: 280px;
    display: flex;
    align-items: center;
    order: 1;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    height: 45px;
    &::after {
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        display: block;
        background-color: white;
        right: 65%;
        position: relative;
    }
    &::before {
        content: '';
        width: 235px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
    }
}

@media (min-width: 768px) {
    .video {
        max-width: 650px;
        margin-top: 75px;
        margin-bottom: 77px;
        &__img {
            height: 499px;
            width: 650px;
        }
        &__range {
            justify-content: space-around;
            height: 93px;
            width: 100%;
            margin: 0;
            background: rgba(0, 0, 0, 0.6);
            bottom: 0;
            align-items: center;
            position: absolute;
        }
        &__sub {
            margin: 0;
            order: 0;
        }
        &__full {
            order: 0;
        }
        &__replay {
            order: 0;
        }
    }
    .video__range-line {
        width: 390px;
        order: 0;
        background: none;
        &::before {
            width: 390px;
        }
    }
    .video__img {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 1200px) {
    .video {
        max-width: 800px;
        margin-top: 70px;
        margin-bottom: 123px;
        &__img {
            width: 800px;
        }
    }
    .video__range-line {
        width: 540px;
        &::before {
            width: 540px;
        }
    }
}
