.video{
	max-width: 280px;
    margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 60px;
	video{
		width: 100%;
	}
}

@media (min-width: 768px){
	.video{
		max-width: 650px;
		video{
			width: 100%;
			height: 500px;
		}
	}
}

@media (min-width: 1200px){
	.video{
		max-width: 800px;
		margin-top: 60px;
		margin-bottom: 100px;
		video{
			height: 530px;
		}
	}
}